
@{
    @model ENT.ClsPersona;
}

<body>
    <table>
        <tr>
            <thead>
                <th> Nombre </th>
                <th> Apellido </th>
                <th> Edad </th>
                <th> Dirección </th>
                <th> Edad </th>
            </thead>
            
        </tr>
        <tr>
            <td> @Model.Nombre</td>
            <td> @Model.Apellido</td>
            <td> @Model.Edad</td>
            <td> @Model.Direccion</td>
            <td> @Model.Edad</td>

        </tr>
    </table>
</body>
