@model Actividad4ASP.Models.VM.PersonaConListaDepartamentosVM;
@{



}

<div>
    <form action="" method="post">
        <label for="nombre">Nombre: </label>
        <input type="text" placeholder="@Model.Nombre" />
        <br>
        <label for="apellido">Apellido: </label>
        <input type ="text" placeholder="@Model.Apellido" />
        <br>
        <label for="direccion">Dirección: </label>
        <input type="text" placeholder="@Model.Direccion" />
        <br>
        <label for="telefono">Telefono: </label>
        
        <select>
            
            
        </select>
    </form>

    @Model.Nombre
    @Model.Apellido
    @Model.Direccion
    @Model.Telefono
    @Model.

</div>