<link rel="stylesheet" type="text/css" href="~/css/CssPatontitos.css" />

@{
    @model Actividad4ASP.Views.VM.PersonaDepartamentosVM   
}

<div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Nombre Departamento</th>
                <th>Fecha Nacimiento</th>
                <th>Dirección</th>
                <th>Telf</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td> @Model.IdPersona</td>
                <td> @Model.Nombre</td>
                <td> @Model.Apellido</td>
                <td> @Model.NombreDept</td>
                <td> @Model.FechaNac</td>
                <td> @Model.Direccion</td>
                <td> @Model.Telefono</td>

            </tr>
        
        </tbody>

    </table>

    @Html.ActionLink("Editar", "EditarPersona", new{ id = Model.IdPersona})

</div>
