@{

    @model Actividad4ASP.Views.VM.PersonaDepartamentosVM
    

}

<body>

    <form action="/index" method="post">
        <label for="nombre">Nombre: </label>
        <input type="text" name= "nombre" placeholder="@Model.Nombre"/>
        <br>
        <label for="apellido">Apellido: </label>
        <input type="text" name="apellido" placeholder="@Model.Apellido" />
        <br>
        <label for="fechaNac">Fecha de nacimiento: </label>
        <input type="datetime" name="fechaNac" placeholder="@Model.FechaNac" />
        <br>
        <label for="direccion">Dirección: </label>
        <input type="text" name="direccion" placeholder="@Model.Direccion" />
        <br>
        <label for="tlf">Teléfono: </label>
        <input type="text" name="tlf" placeholder="@Model.Telefono" />
        <br>
        <label for="nombreDept">Departamento: </label>
        <select> 
            @foreach (ENT.ClsDepartamento departamento in BL.ListaDepartamentosBL.ObtenerListadoDepartamentosCompletoBL())
            {
                <option value="@departamento.IdDepartamento">@departamento.NombreDept</option>
            }
            

        </select>
     
        <button> Guardar </button>
    </form>

</body>