@model IEnumerable<ENT.ClsHeroeVillano>
@using ENT;
@{
	ViewData["Title"] = "PuntuarCombate";
}
<head>
	<link href="~/css/estilitos.css" rel="stylesheet" />
</head>
<h1>PuntuarCombate</h1>

@if (TempData["Error"] != null)
{
	<div class="mensaje-error">@TempData["Error"]</div>
}
<form method="post" asp-action="PuntuarCombate">
	<div class="contenedorSelect">
		<select class="select" name="personaje1">
			<option value="" disabled selected hidden> SELECCIONA UN PERSONAJE</option> <!-- Sirve para hacer un placeholder con Selecciona un personaje-->
			@foreach (ClsHeroeVillano personaje in Model)
			{
				<option value="@personaje.IdPersonaje">@personaje.Nombre</option>
			}
		</select>
		<select class="select" name="personaje2">
			<option value="" disabled selected hidden> SELECCIONA UN PERSONAJE</option> <!-- Sirve para hacer un placeholder con Selecciona un personaje-->
			@foreach (ClsHeroeVillano personaje in Model)
			{
				<option value="@personaje.IdPersonaje">@personaje.Nombre</option>
			}
		</select>

	</div>
	<div class="inputsPuntuaciones">
		<select class="input" name="puntuacion1">
			@for (int i = 1; i <= 5; i++)
			{

				<option value="@i" name="puntosPJ1">@i</option>
			}
		</select>

		<select class="input" name="puntuacion2">
			@for (int i = 1; i <= 5; i++)
			{
				<option value="@i" name="puntosPJ2">@i</option>
			}
		</select>
	</div>
	<div class="divBotonSubmit">
		<input type="submit" value="Guardar" class="botonSubmit" />

	</div>
</form>

